html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: "Arial", sans-serif;
  font-weight: bold;
  padding-top: 32px;
  overflow: hidden;
  -webkit-user-select: none;
}

img {
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

h1#title {
  font-size: 42px;
}

button {
  cursor: pointer;
}

hr {
  border-top: 3px solid var(--divider);
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-radius: 5px;
  width: 75%;
}

:focus {
  outline: unset;
}
